@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Quicksand:wght@400;500;700&display=swap");

html {
    scroll-behavior: smooth;
}

body {
    background: #eeeeee;
    margin: 0;

}

hr {
    border: 0;
    background: #dedede;
    height: 1px;
}

header {
    text-align: center;
    color: black;
    font-weight: bold;
    font-family: "Quicksand", sans-serif;
}

header .judul {
    font-size: 17pt;
}

header .deskripsi {
    font-size: 11pt;
}

.wrap {
    width: 950px;
    margin: 25px auto;
}

nav {
    overflow: hidden;
    color: #fff;
    list-style: none;
    float: center;
    padding: 0;
    width: 100%;
    text-align: center;
    font-family: "Quicksand", sans-serif;
}

.menu {
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 20px;
    padding-bottom: 8%;
}

.button {
    background-color: #5066e1;
    border: none;
    color: rgb(255, 255, 255);
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 12px;
    font-weight: bold;
}

.button1 {
    background-color: #929fea;
    color: #ffffff;
    border: 2px solid #000000;
}

.button1:hover {
    background-color: #5066e1;
    color: white;
    border: 2px solid #5066e1;
}

main {
    font-family: sans-serif;
}

.kalkulator {
    float: center;
}

.konten {
    text-align: center;
    width: 600px;
    padding: 0 25px 25px;
    margin: 25px auto;
    background: #ffffff;
    border: 1px solid #dedede;
    -webkit-box-shadow: 1px 1px 1px 0px rgba(204, 204, 204, 0.35);
    -moz-box-shadow: 1px 1px 1px 0px rgba(204, 204, 204, 0.35);
    box-shadow: 1px 1px 1px 0px rgba(204, 204, 204, 0.35);
}

.konten img {
    min-width: 650px;
    margin: 0 0 25px -25px;
    max-width: 650px;
}

.konten h1 {
    padding: 0;
    margin: 0 0 15px;
    font-weight: bold;
    color: #666666;
}

.konten label {
    font-weight: bold;
    color: #666666;
    padding: 20px;
}

.form {
    margin: 20px;
}

.form input {
    border-radius: 8px;
}

.hasil {
    font-weight: bold;
    color: black;
    margin: 25px;
}

.tombol {
    background-color: #5066e1;
    color: white;
    display: inline-block;
    padding: 10px 25px;
    margin-top: 30px;
    font-size: 11pt;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px #999;
}

.tombol:hover {
    background-color: #929fea;
    color: black;
}

.tombol:active:active {
    background-color: #5066e1;
    transform: translateY(4px);
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px #999;
}

.tombolriset {
    background-color: #e05211;
    color: white;
    display: inline-block;
    padding: 10px 25px;
    margin-top: 30px;
    font-size: 11pt;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px #999;
}

.tombolriset:hover {
    background-color: #d16d3f;
    color: black;
}

.tombolriset:active:active {
    background-color: #d16d3f;
    transform: translateY(4px);
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px #999;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    color: rgb(0, 0, 0);
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 960px) {
    .header {
        position: inherit;
    }

    .wrap {
        width: 90%;
        margin: 25px auto;
    }

    .kalkulator {
        width: 90%;
    }

    .konten {
        float: inherit;

        margin: 0 auto 25px;
        width: 101%;
        border: 1px solid #dedede;
        padding: 5%;
        background: #ffffff;
    }

    .konten img {
        max-width: 110%;
        margin: 0 0 25px -5%;
        min-width: 110%;
    }
}

@media screen and (max-width: 460px) {
    nav.menu ul a {
        padding: 15px;
        font-size: 14px;
    }

    .konten {
        margin: 25px auto;
    }

    .konten img {
        margin: -5% 0 25px -5%;
    }
}